<%- include('header',{title:"Modern Furniture Store & Unique Home Decor Online", stylesheet:"stylesheet/home.css"})-%>


<body>
    <div id="navbarDiv"></div>
    <div id="landingContainer">
        <div id="bodySection">

        <div class="landing1stDesign">
            <div id="homeGiftText">

            <img class="bigScreen"  src="landingImages/home_gifts_promo_txt.png" alt="">
            <img class="phone" style="margin-top:20%;" src="landingImages/home_gifts_promo_txt.png" alt="">
            
            <div class="options bigScreen" style="margin-left: 40%;"><a href="" ><span>SHOP NOW</span></a></div>
            <div class="options phone" style="margin-left: 21%;width:100%"><a href="" ><span>SHOP NOW</span></a></div>
            </div>
            <img  class="phone" src="landingImages/home_gifts_promo_phn.webp" alt="">
            <img  class="bigScreen" src="landingImages/home_gifts_promo.jfif" alt="home_gifts_promo.jfif">
        </div>

        <div class="landing1stDesign">
            <div id="homeDecemberText">
            <img src="landingImages/home_December-txt.png" alt="">
            <div class="options phone" style="margin-left: -21%;width:200%">
                <a href="" ><span>DECORATE</span></a>
                <a href="" ><span>PARTY</span></a>
                <a href="" ><span>GIFTS</span></a>
            </div>
            <div class="options bigScreen">
                <a href="" ><span>DECORATE</span></a>
                <a href="" ><span>PARTY</span></a>
                <a href="" ><span>GIFTS</span></a>
            </div>
           </div>
            <img class="phone" src="landingImages/home_december_phn_.webp" alt="">
            <img class="bigScreen" src="landingImages/home_December.jfif" alt="home_December.jfif">
        </div>

        <div class="landing2ndDesign">
            <div id="homeEgift">
            <img class="phone" style="margin-top:40%;" src="landingImages/home_egift_txt_phn.png" alt="">
            <img class="bigScreen" src="landingImages/home_egift_txt_re.png" alt="home_egift_txt_re"> 
            <div id="homeEGiftDiv" class="options homeEGift phone homeEGiftPhone" style="margin-left: -21%;width:140%;text-align: center;margin-top:20px">
                <span>ENDS DEC.  24</span>
                <a href=""  >
                    <span  style="color:black;border-bottom: 1px solid black;">SHOP NOW</span>
                </a>
            </div>
            <div class="options homeEGift bigScreen">
                <span>ENDS DEC.  24</span>
                <a href=""  style="margin-left:16px;border-left:1px solid black;padding-left:20px;" >
                    <span style="color:black;border-bottom: 1px solid black;">SHOP NOW</span>
                </a>
            </div>
            </div>
            <img class="phone" style="width:100vw" src="landingImages/home_egift_phn.webp" alt="">
            <img class="bigScreen" src="landingImages/home_egift.webp" alt="home_egift.webp">
         </div>

        <div class="landing1stDesign">
            <div id="homeHoliday">
                <img src="landingImages/home_holiday_txt.png" alt="home_holiday_txt">
                <div class="options phone" style="margin-left: 21%;width:100%;">
                    <a href="" ><span>SHOP NOW</span></a>
                </div>
                <div class="options bigScreen" style="margin-left: 35%;">
                    <a href="" ><span>SHOP NOW</span></a>
                </div>
            </div>
            <img class="phone" src="landingImages/home_holiday_phn.webp" alt="">
            <img class="bigScreen" src="landingImages/home_holiday.jfif" alt="home_holiday">
        </div>

        <div class="landing2ndDesign" id="curbsiteDiv">
            <div id="homeCurbsideText">
            <h2>CURBSIDE PICKUP, DESIGN HELP AND SO MUCH MORE</h2>
            <P>FROM SAME-DAY CURBSIDE PICKUP AND PERSONAL SHOPPING APPOINTMENTS TO FREE DESIGN SERVICES AND EXCLUSIVE IN-STORE EVENTS, CRUSH THE HOLIDAY RUSH BY VISITING A CB2 NEAR YOU</P>
            <div class="options phone" style="margin-top:1%;margin-left:15%;"><a href="" ><span>SEE ALL STORE</span></a></div>
            <div class="options bigScreen" style="margin-top:1%;margin-left:15%;"><a href="" ><span>SEE ALL STORE SERVICES</span></a></div>
        </div>
            <img class="phone" style="width:100vw" src="landingImages/home_services_phn.webp" alt="">
            <img class="bigScreen" src="landingImages/home_curbside.webp" alt="">
        
        </div>
    </div>
    </div>

    <div id="radarDiv">
    </div>
   
    <div id="footerDiv"></div>
</body>
</html>
<script type="module">

    //authenticate
    // let user={
    //             authenticated:false
    //         }
    //       localStorage.setItem("authenticate",JSON.stringify(user));
    
    document.getElementById("landingContainer").addEventListener("click",authenticateCheck);
    
    async function authenticateCheck(){
        window.location.href="newPage" ;
    }
    
    
    
    import radar from "./components/radar.js";
    let radarDiv = document.getElementById("radarDiv");
    radarDiv.innerHTML=radar();
    
    
    import navbar from "./components/navbarImport.js";
    let navbarDiv = document.getElementById("navbarDiv");
    navbarDiv.innerHTML = navbar();
    
    var script = document.createElement('script');         
    script.src = "javascript/navbar.js";    
     document.head.appendChild(script);
    
     import footer from "./components/footer.js";
    let footerDiv = document.getElementById("footerDiv");
    footerDiv.innerHTML = footer();
    
    
    </script>
    