<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 page not found</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700">

    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="stylesheet/pagenotfound.css">
    <link rel="icon" href="landingImages/cbicon.ico">
</head>
<body>
    
<div class="container">
    <h1 class="four">4</h1>
  
       <img class="cog-wheel1 loading" src="landingImages/wheel1.png" alt="">
      
  
   <h1 class="four">4</h1>
  </div>
  <p class="wrong-para">Uh Oh! Page not found!</p>
</body>
</html>
