<%- include('header',{title:"Modern Furniture Store & Unique Home Decor Online", stylesheet:"stylesheet/payment.css"})-%>

<body>
    <div id="payMain">
        <div id="payLeft"  style="width:100vw;">
            <div class="shipping_cb2logo">
                <h1>CB2</h1>
            </div>
            <div class="shipping_cb2logo_check"><i class="fas fa-lock"></i>Checkout</div>
            <br>
            <br>

            <div id="shipping_left_number"><div>1</div>-------------------------------------------------------<div>2</div>------------------------------------------------------<div class="span1">3</div></div>
            <div id="shipping_left_tag">
                <div>Shipping and Gifts Options</div>
                <div>Payment and Billing</div>
                <div>Review and Place Order</div>
            </div>

            <div id="order_placed">
                <img style="height:200px;" src="./landingImages/Green_tick.png" alt="">
                <p>ORDER PLACED SUCCESSFULLY</p>
                <p>Thanks For Shopping With Us</p>
                <a href="index.html"><button type="button" class="btn btn-outline-success">Back to shopping</button></a>
            </div>



            <div id="Checkout_payement_under" style="text-align: center;padding-top:20px;">
                <h2>Rewards</h2>
                <p>For validation purposes you must use your Crate and Barrel or CB2</p>
                <p>credit card to redeem Rewards Dollars. Multiple Rewards Dollars can be</p>
                <p>applied per transaction.</p>
                <br>              
            </div>


            <!-- bottom checkout -->

               <p id="tolearnmore" style="text-align: center;margin-top: -30px;">To learn more about how we use your information, read our <a href="#">Privacy Policy.</a></p>
   
               <div id="shipping_safeandsecure" style="width:50%;justify-content: center;margin:auto;">
                   <i class="fas fa-unlock-alt"></i>
                   <p>Secure Checkout Shopping is always <a href="#">safe and secure</a></p>
               </div>
   
               <hr>
   
               <!-- made for bottom -->
   
               <div id="shipping_bottom_page">
                   <div>
                       <p>©2021 CB2</p>
                      <p>Privacy Policy</p>
                         <p>Terms of Use</p> 
                          <p>Site Index</p>
                   </div>
                   <div>
                       <p>Stay in Touch</p>
                       <p> contact us.</p>
                      <p>800.606.6255 </p> 
                       <p> Co-Browse</p>
                   </div>
               </div>
        </div>

    </div>
</body>
</html>