<%- include('header',{title:"Modern Furniture Store & Unique Home Decor Online", stylesheet:"stylesheet/payment.css"})-%>



<body>
    <div id="payMain">
        <div id="payLeft">
            <div class="shipping_cb2logo">
                <h1>CB2</h1>
            </div>
            <div class="shipping_cb2logo_check"><i class="fas fa-lock"></i>Checkout</div>
            <br>
            <br>

            <div id="shipping_left_number"><div>1</div>---------------------------------------<div class="span1">2</div>---------------------------------------<div>3</div></div>
            <div id="shipping_left_tag">
                <div>Shipping and Gifts Options</div>
                <div>Payment and Billing</div>
                <div>Review and Place Order</div>
            </div>

            <div id="card_details">
                <div id="card_details1">
                    <p>Payment</p>
                    <p><input type="radio">Credit/Debit Card</p>
                </div>
                <form id="card_details_form">
                    <div>
                        <p>Card Number</p>
                    <input type="Number" pattern="[0-9]{16}" id="credit_number" required>
                    </div>
                    <div>
                        <p>Expires On</p>
                        <div id="dropdown">
                            <select name="" id="expMonth" required></select>
                            <select name="" id="expYear" required></select>
                        </div>
                        
                    </div>
                    <div>
                        <p>Security Code</p>
                        <input type="Number" id="cvv" required>
                    </div>
                    <div>
                        <input type="submit" value="Save & Apply" id="savecard">
                    </div>
                </form>
            </div>



            <div id="Checkout_payement_under">
                <h2>Rewards</h2>
                <p>For validation purposes you must use your Crate and Barrel or CB2</p>
                <p>credit card to redeem Rewards Dollars. Multiple Rewards Dollars can be</p>
                <p>applied per transaction.</p>
                <br>
                <h2>Billing Address</h2>
                <div id="Checkout_payement_address">
                    <h3 id="userName">Yatharth</h3>
                    <p id="city">123 hahas lane</p>
                    <p id="zip">232guuw</p>
                    <p id="address">djasbdisabid</p>
                    <a href="checkoutshipping.html">Edit</a>
                </div>
                <br>
                <div id="Checkout_payement_Button">
                    <button id="Checkout_Button">Place Order</button>
                </div>
            </div>


            <!-- bottom checkout -->

               <p id="tolearnmore">To learn more about how we use your information, read our <a href="#">Privacy Policy.</a></p>
   
               <div id="shipping_safeandsecure">
                   <i class="fas fa-unlock-alt"></i>
                   <p>Secure Checkout Shopping is always <a href="#">safe and secure</a></p>
               </div>
   
               <hr>
   
               <!-- made for bottom -->
   
               <div id="shipping_bottom_page">
                   <div>
                       <p>©2021 CB2</p>
                      <p>Privacy Policy</p>
                         <p>Terms of Use</p> 
                          <p>Site Index</p>
                   </div>
                   <div>
                       <p>Stay in Touch</p>
                       <p> contact us.</p>
                      <p>800.606.6255 </p> 
                       <p> Co-Browse</p>
                   </div>
               </div>
        </div>

        <div id="payRight">
            <div id="shipping_right_total">
                <div id="main_shipping_right_only">
                 <div>
                     <p>Order Summary</p>
                     <p class="Sipping_Merchandice">Merchandise:</p>
                     <p class="Sipping_Merchandice">Shipping & Handling :</p>
                     <p class="Shipping_Discount">Shipping Discount :</p>
                     <p class="Sipping_Merchandice" style="color:green">Discount:</p>
                 </div>
                 <div id="Shipping_Href_Cart">
                     <a href="#">Edit Cart</a>
                     <p id="Sipping_Merchandice_price" class="Sipping_Merchandice">$149.00</p>
                     <p class="Sipping_Merchandice">$21.95</p>
                     <p class="Shipping_Discount">-$21.95</p>
                     <p class="Sipping_Merchandice" id="discount">$10.80</p>
                 </div>
            </div>

             <hr>
            <div id="Shipping_Order_last">
             <p>Order Total:</p>
             <p id="Shipping_Order_last_total">$159.00</p>
            </div>
        </div>
    </div>
</body>
</html>
<script src="javascript/payment.js"></script>