<%- include('header',{title:"Modern Furniture Store & Unique Home Decor Online", stylesheet:"stylesheet/storelocation.css"})-%>


<body>
    <div id="navbarDiv"></div>
    <div id="MainStore">
         <div id="MainStore_H1">STORES & EVENTS</div>

         <div id="MainStore_Select">
             <label>find a Store : </label>
            <select name="state" id="MainStore_Select_State">
                <option value="">Select Store Location</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh (UT)">Chandigarh (UT)</option>
                <option value="Delhi">Delhi</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="West Bengal">West Bengal</option>
            </select>
         </div>
         <hr>
         <div class="MainStore_Select_Your">Your Nearest Store</div>
         <hr style="margin-bottom:16px;">

         <div id="MainStore_Address_And_Image">

            <div id="MainStore_Address">
                <h1 id="MainStore_Address_name">CB2 Outlet At <br> Naperville</h1>
                <h3>3 miles</h3>
                <h3 id="MainStore_Address_cap">1860 W. Jefferson Ave.</h3>
                <h3 id="MainStore_Address_desh">Naperville, IL 60540</h3>
                <h3>(630) 468-1222</h3>
                <a href="#">Map And Direction</a>
                <p><span>Thursday:   </span> 10 am - 8 pm</p>
                <p><span>Friday:     </span>10 am - 8 pm </p>
                 <p><span>  Saturday: </span>10 am - 8 pm </p>
               <p><span> Sunday:     </span>11 am - 6 pm </p>
                <p><span>Monday:     </span>10 am - 8 pm </p>
                <p><span>Tuesday:    </span>10 am - 8 pm </p>
                <p><span>Wednesday:   </span>10 am - 8 pm </p>
                <br>
                <p>Take a trip to our newest CB2 
                    Outlet store in Naperville, IL. The 
                    4,558 sq ft space carries
                     discounted or discontinued CB2
                      merchandise, as well as a small
                       assortment of our current core 
                       products.</p>
                       <br>
                 <p>Gift Registry items and services are
                      not available atthat our Outlet store.</p> 
                   <br>
                   <p>Please note that the hours for
                        the Naperville warehouse and
                         Naperville outlet differ.</p>
                    <br>     
                    <button>View Store Info And Event</button>        
            </div>

            <div id="MainStore_Images">
                <img id="MainStore_Images_img" src="https://cb2.scene7.com/is/image/CB2/store-location-118-01/$web_store_location_individual_xs$/211216074248/store-location-118-01.jpg">
            </div>
         </div>

         <!-- tores Nearest 60540 this flex div starts -->
         <hr>
         <div class="MainStore_Select_Your">Stores Nearest 60540</div>
         <hr>
         <div id="Mainstore_Nearest_flex">
             <div>
                 <h2>llinois</h2>
             </div>
             <div>
                 <h2>Lincorn Park</h2>
                 <p>27 miles</p>
                 <p>800 W. North Ave</p>
                 <p>Chicago, IL 60642</p>
                 <p>(312) 787-8329</p>
                 <a href="#">Map and Directions</a>
             </div>
             <div>
                 <h2>Curbside pickup is currently</h2>
                 <h2>available:</h2>
                 <p>Monday - Friday 8 am - 8 pm</p>
                 <p>Saturday 8 am - 9 pm</p>
                 <p>Sunday 8 am - 7 pm</p>
                 <br>
                 <p><span>Thursday:   </span> 10 am - 8 pm</p>
                 <p><span>Friday:     </span>10 am - 8 pm </p>
                  <p><span>  Saturday: </span>10 am - 8 pm </p>
                <p><span> Sunday:     </span>11 am - 6 pm </p>
                 <p><span>Monday:     </span>10 am - 8 pm </p>
                 <p><span>Tuesday:    </span>10 am - 8 pm </p>
                 <p><span>Wednesday:   </span>10 am - 8 pm </p>
                 <br>
                 <h2>To Pick Up Your Order:</h2>
                 <p>Text 'ARRIVED' to (312) 667-</p>
                 <p>5868</p>
                 <br>
                 <h2>Pickup Location:</h2>
                 <p>CB2 back door located in the</p>
                 <p>alley off of Halsted.</p>
             </div>
             <div>
                 <button>VIEW STORE AND EVENTS</button>
             </div>
         </div>
         
         <div id="Mainstore_Blackbox">
            <p>IT'S FREE</p>
            <h2>ORDER ONLINE.PICK UP IN STORE</h2>
            <p>or you can select furniture purcheses at one of our 22 warehouse</p>
            <a href="#">FIND YOUR NEAREST STORE</a>
         </div>
         
         <div id="Mainstore_Whitebox">
             <h2>STORE SURVICES</h2>
             <p>Our associates are still here for you, vertually and by appointment</p>
             <a href="#">LEARN MORE</a>
         </div>
         
         <div id="Mainstore_Para_read">
             <h2>SHOP, BUT MAKE IT SAFE</h2>
             <li> We ask all unvaccinated individuals to maintain a safe distance of 6' from one another while in the store.</li>
             <li>We require face masks for unvaccinated customers.</li>
             <li>We sanitize common areas regularly.</li>
             <li>We continue to offer curbside contactless pick up for online purchases.</li>

             <br>

             <h2>CONTACTLESS CURBSIDE PICKUP AND LIMITED STORE HOURS NOW AVAILABLE</h2>
             <p>Here’s how Contactless Curbside Pickup works:</p>
             <li class="Mainstore_Para_read_li">Stay in your car (if applicable).</li>
             <li class="Mainstore_Para_read_li">Call or text us at the store-specific numbers.</li>
             <li class="Mainstore_Para_read_li">We will meet you outside and place your order in the trunk of your car or directly on the curb for you.</li>
             <p>Please see our <a href="#"> COVID-19 FAQ </a> for details</p>

             <br>

             <h2>CB2 MODERN FURNITURE STORE LOCATIONS</h2>
             <p>for modern furniture and home accessories at affordable prices, visit cb2 stores. the first cb2 opened in chicago, and several locations are in major cities across the united</p>
             <p>states and canada. each one has a unique layout, so pop in for decorating inspiration. with exclusive collaborations with brands, designers and celebrities, cb2's selection</p>
             <p>always has something new and exciting. don’t miss out on the latest trends in interior design—visit often to stay in-the-know.</p>
             <br>
             <p>at cb2 stores, you can find on-trend furniture and contemporary decor for every space in your home. whether you're living in a small studio apartment or a spacious suburban</p>
             <p>home, cb2 designs give your home a modern edge. find small decorations that speak to your personality—candle holders, wall art, sculptural objects, planters and botanicals</p>
             <p>instantly upgrade any room. when it's time to refresh your look, update textiles to make a statement—play with texture in your area rugs, curtains, duvet covers and throw</p>
             <p>pillows. looking for larger items? give the living room a midcentury vibe with sleek sofas, chairs and coffee tables. create an urban industrial aesthetic in the kitchen with a</p>
             <p>bold chandelier hanging above the concrete dining table and metal stools. in the bedroom, design a restful retreat with a leather headboard, black nightstands and dramatic</p>
             <p>lighting. if you want a one-of-a-kind statement piece, talk with one of our design experts about custom items.</p>
             <br>
             <p>cb2 goes beyond furniture and decor. stop by a store to participate in a variety of community events, such as product demos, diy classes and after-hours concerts. check you</p>
             <p>local store's events page to learn more about upcoming activities. cb2 wants to be a part of your special moments, too. set up a gift registry with us to celebrate personal</p>
             <p>events. whether you're getting married, moving into a new home or celebrating a birthday, gifts from cb2 make any occasion even better. create your wishlist in-store with the</p>
             <p>help of an experienced associate, and manage your account online to edit or add more gifts at any time</p>
         </div>
    </div>



    <!-- footer html starts here----------------------- -->


    <div id="Main_Footer">
        <div id="Footer_up">
            <div id="footer_col1">
                <p id="h3">KNOW WHAT'S UP. SIGN UP FOR EMAILS.</p>
                <p><input id="foo_in" type="text" placeholder="Enter your email address" ><i class="far fa-envelope"></i></p>
                <p id="foo_read">Read our <span>Privacy Policy</span></p>
                <div id="foo_fonts">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                  </div>
            </div>
            <div id="footer_col2">
                <span>CONTACT US</span>
                <p>COSTOMER SERVICE</p>
                <p>STORES</p>
                <p>PHONE 800.606.6252</p>
                <span>CB2 CREDIT CARD</span>
                <p>APPLY NOW</p>
                <p>MANAGE ACCOUNT</p>
            </div>
            <div id="footer_col3">
                <span>ORDER TRACKING &
                  SCHEDULE DELIVERY</span>
                  <p>TRACK YOUR ORDER</p>
                  <p>TRACK YOUR ORDER</p>
                  <p>SCHEDULE DELIVERY</p>
                  <span>OUR COMPANY</span>
                  <p>ABOUT US</p>
                  <p>CAREERS</p>
            </div>
            <div id="footer_col4">
                <span>RESOURCES</span>
                <p>MY ACCOUNT</p>
                <p>EMAIL PREFERENCES</p>
                <p>CATALOGS</p>
                <p>GIFT REGISTRY</p>
                <p>GIFT CARDS</p>
                <p>CB2 INTERIORS</p>
                <p>TRADE PROGRAM</p>
                <p>PRODUCT RECALLS</p>
                <p>ACCESSIBILITY STATEMENT</p>
                <p>CA SUPPLY CHAINS ACT</p>
            </div>
            <div id="footer_col5">
                <span>OUR BRANDS</span>
                <p>Crate&Barel</p>
                <p>Crate&kids</p>
                <p>HUDSON | GRACE</p>
                <P id="foo_ship">SHIP TO : <i class="fas fa-flag-usa"></i></P>
            </div>
        </div>
        <div id="Footer_down">
            <p><span>DO NOT SHARE MY PERSONAL INFORMATION | COOKIE SETTING | </span> If you are using a screen reader
          and are having problem with this website ,please call 800.606.6252 for assistance.</p>
          <span>©2021 CB2 TERMS OF USE PRIVACY POLICY SITE INDEX AD CHOICES CO-BROWSE</span>
        </div>
    </div>


</body>
</html>

<script type="module">



//navbar Import section start 

import navbar from "./components/navbarImport.js";
let navbarDiv = document.getElementById("navbarDiv");
navbarDiv.innerHTML = navbar();

var script = document.createElement('script');         
script.src = "javascript/navbar.js";   
 document.head.appendChild(script)

</script>
<script src="javascript/storelocation.js"></script>